.navbar, #basic-navbar-nav{
    justify-content: center !important;
    align-items: center;
}
.me-auto .links{
    font-size: 1.1em;
    font-weight: bold;
    margin: 4em 1em;
    line-height: 2em;
    text-decoration: none;
    padding: 4px 10px;
    position: relative;
}
  .links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: #1d8096;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  a.links:hover{
      color: #1d8096 !important;
  }
  a.links:focus{
      color: #18B7BD !important;
  }
  .links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }